/*** uw_virtual_site_homepage form ***/
#uw-virtual-site-homepage-node-form #edit-options {
  display: none;
}

#edit-actions-top {
  display: none;
}

/* Biblio settings */
.citation-example-wrapper {
  margin-top: 10px;
  background-color: white;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

#edit-field-uw-homepage-banners .image-widget-data input[id*="remove-button"] {
  display: none;
}

.image-widget-data .file img {
  display: none;
}

.biblio_file_links .file-icon {
  max-width: 35px;
}
